

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;  
    height: 100%;
}
header{
    height: 10%;
    
}
h2{
    text-align: center;
    color: gray;
}
.header > button{
    
    margin-top: 20px;
}
main > form > button{
    margin: 1px;
    color: white !important;
    width: 70%;
    
}
main > form > section> input{
    
    width: 70%;
    
    
}
main > form > section{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
form{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 0px gray;
    
}
#id{
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    
    
}
html , body{
    height: 100%;
}
