<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="./sawa.css">
<link rel="stylesheet" href="./boot.css">
</head>


<body>
<header>
    <div class="hstyle">
        <img class="lsty1" src="./화면 캡처 2024-03-04 154345.png" alt="이미지">
        <button type="button" class="btn btn-outline-secondary">My Page</button>
    </div>
    <hr>
</header>
<div class="test">
    <fieldset>
        <form class="login-form" action="/Sawadicab/Login" method="GET">
            <label>회원가입</label><br>
            <div id="div1">
                <input type="text" name="id" placeholder="아이디" /><br>
                <input type="password" name="password" placeholder="비밀번호" /><br>
                <input type="password" placeholder="비밀번호확인" /><br>
                <input type="text" placeholder="이름" /><br>
                <input type="text" placeholder="생년월일" /><br>
                <input type="text" placeholder="전화번호" />
            </div>
            <div>
                <button class="btn btn-primary btn1" type="submit">회원가입</button><br>
                <button class="btn btn-success btn1">네이버로 시작하기</button><br>
                <button class="btn btn-warning btn1">카카오로 시작하기</button>
            </div>
        </form>
    </fieldset>
</div>
</body>

</html>